/*selector { property: value(s);} */
/* id att is # */
* {
    margin: 5px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
  }
  
  body {
    width: 960px;
    margin: 0 auto;
    background-color: whitesmoke;
  }
  
  header {
    text-align: center;
    background-color: darkorchid;
  }
  
  header img {
    height: 75px;
  }
  
  img {
    height: 200px;
  }
  
  section {
    margin: 2rem 0;
  }
  
  #bio {
    display: flex;
      }
  
  #bio-learn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
  }
  
  #name-date {
    display: flex;
    justify-content: space-between;
  }
  
  #choose-list {
    background-color:thistle;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  
  ul {
    padding: 10px 0px 0px 18px;
  }
  
  #tech {
    display: flex;
    justify-content: space-between;
  }
  
  #tech img {
    height: 10rem;
  }
  
  figure {
    text-align: center;
    width: 12rem;
  }
  
  figcaption {
    background-color: thistle;
    position:relative;
    top: -1.5rem;
  }
  
  h2, h4 {
    color:indigo;
  }
  
  #interest div {
    background-color: thistle;
    padding: 1rem;
    margin-top: .75rem;
  }
  
  .interestText {
    margin-top: 1rem;
  }
  
  #copyright {
    background-color: blueviolet ;
    color: antiquewhite;
  }